<p id="notice"><%= notice %></p>

<h1>Cocktails</h1>
<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="cocktail">
        <%= link_to cocktail do %>
        <h3 class="text-center"><%= cocktail.name %></h3>
        <img src='http://placehold.it/300x300' alt="">
      <% end %>
      </div>
    </div>
  <% end %>
</div>


<%= link_to 'New Cocktail', new_cocktail_path %>





